.funds-head {
    background-color:rgb(36,32,33);
    color: white;
    margin: 0;
    padding-top: 1.4em;
    padding-bottom: 1.3em;
    font-size: 1.8em;
}

.funds-plans-container {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 4%;
    margin: 0 12em 10% 12em;
    /* margin-top: 10% */
}

.funds-plan-item {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-self: flex-end;

}

.funds-plan-item p {
    font-weight: 100;
}

.funds-plan-item > h1 {
    font-size: 3.4em;
    font-weight: 700;
}
.funds-plan-item > h2 {
    font-weight: 400;
}

.funds-plan-item ul {
    list-style-type: none;
    padding-left: 0em;
    font-weight: 300;
}
  
.funds-plan-item ul li:before {
    content: '✓';
  }

.funds-plan-item button {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid black;
    background-color: transparent;
}

.funds-plan-item button:hover {
    background-color: rgb(255, 196, 0);
}

.funds-opportunity-zone > h1 {
    margin: 0;
    margin-top: -4px;
    padding: 1.3em;
    background-color: rgb(84, 77, 18);
    color: white;
    font-weight: 400;
    font-size: clamp(2em, 2.9vw, 3em);
}

.funds-opportunity-item {
    display: grid;
    grid-template-columns: 50% 50%;
}

.funds-opportunity-item img {
    width: 100%;
    height: 76vh;
    object-fit: cover;
    min-height: 100%;
}

.funds-opportunity-text {
    margin-top: auto;
    margin-bottom: auto;
}

.funds-opportunity-text > h1 {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 2.7em;
}

.funds-opportunity-text p {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.0em;
    font-weight:lighter;
    padding: .4em;
}

.funds-opportunity-text > button {
    border: none;
    padding: 1em 3em 1em 3em;
    background-color: rgb(255, 196, 0);
    margin-top: 3%;
    font-size: 1.1em;
}

#funds-not-available {
    color: gray;
    pointer-events: none;
}


@media screen and (max-width: 1000px) {
    * {
        /* background-color: red; */
    }

    .one {
        grid-template-columns: 30% 70%;
    }

    .one img {
        height: 30vw;
    }

    .two {
        grid-template-columns: 70% 30%;
    }

    .two img {
        height: 30vw;
    }

    .three {
        grid-template-columns: 30% 70%;
    }

    .three img {
        height: 30vw;
    }

    .four {
        grid-template-columns: 70% 30%;
    }

    .four img {
        height: 30vw;
    }
}

@media screen and (max-width: 770px) {
    
    .funds-plans-container {
        display: flex;
        flex-direction: column;

        margin-left: 2.5em;
        margin-right: 2.5em;
        margin-bottom: 4%;
        margin-top: 4%
    }   

    .funds-plan-item > p {
        text-align: justify;
        font-size: 1.2em;
    }
    .funds-plan-item ul {
        list-style-type: none;
        padding-left: 0em;
        font-size: 1.2em;
    }
    
    .funds-opportunity-text button {
        margin-bottom: 2em;
    }
    
    .funds-opportunity-item {
        margin-bottom: 1em;
    }

   .one{
        display: flex;
        flex-direction: column-reverse;
    }

    .two {
        display: flex;
        flex-direction: column;
    }

    .three{
        display: flex;
        flex-direction: column-reverse;
    }

    .four {
        display: flex;
        flex-direction: column;
    }


}


