/* HERO SECTION */
.hero-container > img {
    height: 40em;
    width: 100%;
}

.hero-container {
    position: relative;
    text-align: center;
    color: black;
}

.hero-texts {
    position: absolute;
    top: 35%;
    /* left: 20%; */
    text-align: justify;
    margin-left: 25%;
    color: white;
}
.hero-texts > h1 {
    font-weight: 1;
    /* padding-bottom: 10px; */
    font-size: clamp(3.3em, 3.7vw, 3.8em);
}

.hero-btn button {
    padding: 1.1em 3.8em;
    margin-right: 1em;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

/* FUND NEWS */
.fund-news {
    background-color: red;
    height: 10em;
    padding-top: 0;
    margin-top: 0;
}




/* AUSTIN OZ FUNDS  */
.oz-funds {
    display: grid;
    grid-template-columns: 50% auto;
    padding-left: 20vw;
    /* padding-right: 14%; */
    padding-bottom: 4em;
}

.oz-texts {
    text-align: justify;
    /* padding-right: 6em; */
    font-size: 1.2em;
}

.oz-texts p {
    font-weight: lighter;
    line-height: 1.6;
}

.oz-texts button {
    padding: 1em 2em 1em 2em;
    font-size: 0.8em;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    background-color: rgb(94, 68, 38);
    color: white;
    margin-top: 2em;
}

.oz-texts > h1 {
    font-size: clamp(1.6em, 2.5vw, 2.2em);
}

.oz-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.oz-img img {
    width: 60%;
}

@media screen and (max-width: 770px) {
    .hero-texts {
        top: 35%;
        /* left: 20%; */
        text-align: justify;
        margin-left: 10%;
        width: 75%;
    }
    
    .oz-texts > h1 {

    }

    .hero-btn button {
        display: flex;
        flex-direction: column;
        width: 100%;

        margin-top: 1em;

    }

    .oz-funds {
        display: flex;
        flex-direction: column;
        padding-left: 7%;
        padding-right: 7%;
    }

    .oz-texts button {
        margin-top: 0.7em;
        margin-bottom: 3em;
    }
    
    .oz-img img {
        width: 100%;
    }
    
}