.news-page {
    /* overflow: hidden; */
}
.news-head {
    background-color: rgb(36,32,33);
    color: white;
    margin: 0;
    padding-top: 1.4em;
    padding-bottom: 1.3em;
    font-size: 1.8em;
}

.news-container {
    width: 60vw;
    max-width: 80%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;

}

.news-item {
    margin-bottom: 2em;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* overflow: hidden; */
}

.news-item  img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.news-item .news-img {
    position: relative;
    background-image: url('../Images/blog 1.png');
    background-size: cover;
    height: clamp(14em, 16vw, 16em);
}


.news-btn {
    position: absolute;
    top: 13%;
    right: 5%;
    border: none;
    border-radius: 20px;
    font-size: 0.7em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    background-color: rgb(96, 69, 20);
    color: white;
}

.news-L {
    background-color: rgb(49, 40, 23);
    font-size: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 50%;
    color: white;

    /* width: 100%; */
    position: absolute;
    bottom: -10%;
    left: 10%;
    display: flex;
    text-align: justify;
    justify-content: center;

}

.news-text {
    text-align: left;
    padding-top: 1.2em;
    /* background-color: red; */
}

.news-text h3 {
    font-size: clamp(1.1em, 1.4vw, 1.5em);
    font-weight: bolder;
    padding-top: 0.7em;
    padding-bottom: 1em;
    padding-left: 7%;
    padding-right: 7%;
}

.news-text p {
    font-size: clamp(1.1em, 1.3vw, 1.3em);
    font-weight: 300;
    line-height: 1.5em;
    padding-top: 1em;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 0.6em;
}

@media screen and (max-width: 1040px) {
    * {
        /* outline: 1px solid red; */
    }
    
    .news-container {
        width: 100%;
        margin-top: 5em;
        gap: 2em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5em;
        /* background-color: red; */
    }
}

@media screen and (max-width: 700px ) {
    .news-item {
        /* margin-bottom: 10em; */
    }

    .news-container {
        width: 80vw;
        max-width:none;
        margin-top: 7em;
        grid-template-columns: auto;
        gap: 1em;
        margin-bottom: 3em;
    }   
}