.terms-and-privacy {
    width: 60%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3em;
}

.terms-and-privacy h1 {
    font-size: clamp(3em, 3.3vw, 3.4em);
    font-weight: bolder;
    margin-top: 2em;
}

.terms-and-privacy h3, h2 {
    font-size: clamp(1.8em, 2.1vw, 2.2em);
    font-weight: bolder;
    color: #2B5973;
    margin-bottom: 1em;
    margin-top: 1em;
}

.terms-and-privacy p {
    font-size: clamp(1em, 1.2vw, 1.3em);
    line-height: 1.7em;
    color: rgb(82, 81, 81);
}


/* CODE PRIVACY POLICY PAGE */
.terms-and-privacy h2 {
    color: #3b3629;
}

.terms-and-privacy ul {
    color: rgb(82, 81, 81);
    list-style-type: unset;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.terms-and-privacy li {
    /* color: red; */
    padding-left: unset;
}

@media screen and (max-width: 930px) {
    .terms-and-privacy {
        width: 85%;
    }
}

@media screen and (max-width: 770px) {
    .terms-and-privacy h1 {
        margin-top: 1em;
    }

}