* {
    /* outline: 1px solid limegreen; */
}

.tracts-head {
    background-color: rgb(26, 25, 25);
    color: white;
    margin: 0;
    padding-top: 1.4em;
    padding-bottom: 1.3em;
    font-size: 1.8em;
}

.tracts-text {
    padding-top: 5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.tracts-text h1 {
    font-size: 2.4em;
}

.tracts-text p {
    font-weight: 100;
    line-height: 2em;
    /* word-spacing: 0.1em; */
}

.tracts-last-p {
    padding-bottom: 9%;
}