footer {
    text-align: left;
}
 footer ul{
    gap: 3em;
 }

footer ul li{
    border-right: 1px solid ; 
    padding-right: 2em;
    font-weight: 100;
    font-size: smaller;
    cursor: pointer;
}

footer ul li{
    width: fit-content;

}

.footer-black {
    background-color: rgb(26, 25, 25);
    color: white;
    padding: 1em;
    padding-left: 20%;
    padding-bottom: 2em;
}

.footer-black h1 {
    font-size: 4.3vw;
}


.footer-black svg {
    fill: white;
    border: 1px solid white;
    margin-top: 1em;
    padding: 0.5em;
    margin-right: 0.5em;
}


.footer-other p {
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 0.1px;
    padding-right: 0.8em;
}

@media screen and (max-width: 770px) {
    .footer-black {
        padding-left: 5%;
    }
    .footer-other {
        display: flex;
        justify-content: space-around;
        padding-left: 5%;
        width: auto;
        font-size: 0.8em;
    }
}