.navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(36,32,33);
    /* padding: 0.5em; */
    color: white;
    position: fixed;
    z-index: 9;
    /* border-bottom: .020rem solid rgb(255, 255, 255); */
}

.navbar h1 {
    /* font-size: clamp(1.8em, 2.4vw, 2.4em); */
}

.navbar > ul {
   
    list-style-type: none;
}
h1{
    font-size: 2em;
    font-weight: 500;
}

.navbar a {
    text-decoration: none;
    padding-left: 1em;
    color: white;
    align-self: center;
}

.navbar a #investor {
    border-right-style: none;
}

/* .navbar ul > a {

} */

.navbar a > li {
    font-weight: 100;
    transition: 0.3s;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 0.1px;

    padding-right: 0.8em;
}

.navbar a > li:hover {
    border-bottom-style: solid ;
    border-bottom-color: rgb(94, 68, 38);
    border-bottom-width:  0.5px;
    padding-bottom: 0.5em;
}

#active {
    border-bottom-style: solid ;
    border-bottom-color: rgb(94, 68, 38);
    border-bottom-width:  0.5px;
    padding-bottom: 0.5em;
}

#investor-active {
    border-right-style: none;
    border-bottom-style: solid ;
    border-bottom-color: rgb(94, 68, 38);
    border-bottom-width:  0.5px;
    padding-bottom: 0.5em;

}

.logout-btn {
    background-color: rgb(175, 33, 33);
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 10px;
    position: absolute;
    right: 0;
    margin-top: 3.2em;
    margin-right: 2em;
}

@media screen and (max-width: 750px) {
    .logout-btn {
        padding-left: 2em;
    }
}