@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Oregano&display=swap');
.App {
  /* background-color: red; */
  text-align: center;
}

h1,h2,h3,h4,h5,h6,p,div{
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Roboto Condensed', sans-serif;

}



.other-pages {
  /* padding-top: 6.6em; */
  padding-top: 100px;
}
